<link rel="stylesheet" href="{{ path '/css/card-logo.css' }}">
<style> #app { background-color: grey; } </style>

<div id="app">
    <card-logo />
</div>

<script src="https://unpkg.com/vue"></script>
<script src="{{ path '/js/card-logo.js' }}"></script>

<script defer>
    new Vue({
        components: {
            CardLogo: CardLogo
        }
    }).$mount('#app')
</script>
