<link rel="stylesheet" href="{{ path '/css/card-title.css' }}">
<style> #app { background-color: grey; } </style>

<div id="app">
    <card-title>{{text}}</card-title>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="{{ path '/js/card-title.js' }}"></script>

<script defer>
    new Vue({
        components: {
            CardTitle: CardTitle
        }
    }).$mount('#app')
</script>
