<link rel="stylesheet" href="/css/card-text.css">
<style> #app { background-color: grey; } </style>

<div id="app">
    <card-text>{{text}}</card-text>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="/js/card-text.js"></script>

<script defer>
    new Vue({
        components: {
            CardText: CardText
        }
    }).$mount('#app')
</script>
