<link rel="stylesheet" href="{{ path '/css/card-description.css' }}">
<style> #app { background-color: grey; } </style>

<div id="app">
    <card-description>{{text}}</card-description>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="{{ path '/js/card-description.js' }}"></script>

<script defer>
    new Vue({
        components: {
            CardDescription: CardDescription
        }
    }).$mount('#app')
</script>
