<link rel="stylesheet" href="{{ path '/css/card-button.css' }}">
<style> #app { background-color: grey; } </style>

<div id="app">
    <card-button>{{text}}</card-button>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="{{ path '/js/card-button.js' }}"></script>

<script defer>
    new Vue({
        components: {
            CardButton: CardButton
        }
    }).$mount('#app')
</script>
