<link rel="stylesheet" href="/css/card-description.css">
<style> #app { background-color: grey; } </style>

<div id="app">
    <card-description>{{text}}</card-description>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="/js/card-description.js"></script>

<script defer>
    new Vue({
        components: {
            CardDescription: CardDescription
        }
    }).$mount('#app')
</script>
