<link rel="stylesheet" href="{{ path '/css/card.css' }}">
<style>
    #app { display: flex; height: 100%; justify-content: center; }
    #app > div { width: 90%; margin: 0.5rem 0.5rem 0.5rem 0; }
    @media (min-width: 768px) { #app > div { width: 40%; margin-left: 0.5rem; } }
</style>

<div id="app">
    <div>
        <card content="{{content}}"></card>
    </div>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="{{ path '/js/card.js' }}"></script>

<script defer>
    new Vue({
        components: {
            Card: Card
        }
    }).$mount('#app')
</script>
