<link rel="stylesheet" href="{{ path '/css/card.css' }}">
<style>
    #app { display: flex; justify-content: center; }
    #app > div { width: 20rem; margin: 0.5rem 0.5rem 0.5rem 0; }
    @media (min-width: 768px) { #app > div { width: 40rem; margin-left: 0.5rem; } }
</style>

<div id="app">
    <div>
        <card class="card--large"></card>
    </div>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="{{ path '/js/card.js' }}"></script>

<script defer>
    new Vue({
        components: {
            Card: Card
        }
    }).$mount('#app')
</script>
