<link rel="stylesheet" href="{{ path '/css/card-default-content.css' }}">
<style>
    #app { display: flex; justify-content: center; }
    #app > div { height: 20rem; width: 20rem; margin: 0.5rem 0.5rem 0.5rem 0; }
    @media (min-width: 768px) { #app > div { height: 25rem; width: 60rem; margin-left: 0.5rem; } }
</style>

<div id="app">
    <div>
        <card-default-content title="{{title}}" text="{{text}}"/>
    </div>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="{{ path '/js/card-default-content.js' }}"></script>

<script defer>
    new Vue({
        components: {
            CardDefaultContent: CardDefaultContent
        }
    }).$mount('#app')
</script>
