<link rel="stylesheet" href="{{ path '/css/card-overlay.css' }}">
<style>
    #app { display: flex; height: 90%; justify-content: center; }
    #app > div { position: relative; width: 90%; margin: 0.5rem 0.5rem 0.5rem 0; }
    @media (min-width: 768px) { #app > div { height: 80%; width: 30%; margin-left: 0.5rem; } }
</style>

<div id="app">
    <div>
        <card-overlay class="{{modifier}}"></card-overlay>
    </div>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="{{ path '/js/card-overlay.js' }}"></script>

<script defer>
    new Vue({
        components: {
            CardOverlay: CardOverlay
        }
    }).$mount('#app')
</script>
