<link rel="stylesheet" href="/css/card-overlay.css">
<style>
    #app { display: flex; height: 75%; flex-wrap: wrap; justify-content: center; }
    #app > div { width: 90%; padding-top: 0.5rem; padding-right: 0.5rem; padding-bottom: 0.5rem; padding-left: 0; }
    @media (min-width: 768px) { #app > div { width: 40%; padding-left: 0.5rem; } }
</style>

<div id="app">
    <div>
        <card-overlay></card-overlay>
    </div>
    <div>
        <card-overlay class="card__overlay--color-light"></card-overlay>
    </div>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="/js/card-overlay.js"></script>

<script defer>
    new Vue({
        components: {
            CardOverlay: CardOverlay
        }
    }).$mount('#app')
</script>
