<link rel="stylesheet" href="/css/card-background.css">
<style>
    #app { display: flex; height: 100%; flex-wrap: wrap; justify-content: center; }
    #app > div { padding-top: 0.5rem; padding-right: 0.5rem; padding-bottom: 0.5rem; padding-left: 0; width: 90%; }
    @media (min-width: 768px) { #app > div { padding: 0.5rem; width: 40%; padding-left: 0.5rem; } }
</style>

<div id="app">
    {{#each images}}
        <div>
            <card-background image="{{this}}"></card-background>
        </div>
    {{/each}}
</div>

<script src="https://unpkg.com/vue"></script>
<script src="/js/card-background.js"></script>

<script defer>
    new Vue({
        components: {
            CardBackground: CardBackground
        }
    }).$mount('#app')
</script>
