<link rel="stylesheet" href="{{ path '/css/card-subtitle.css' }}">
<style> #app { background-color: grey; } </style>

<div id="app">
    <card-subtitle>{{text}}</card-subtitle>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="{{ path '/js/card-subtitle.js' }}"></script>

<script defer>
    new Vue({
        components: {
            CardSubtitle: CardSubtitle
        }
    }).$mount('#app')
</script>
