<link rel="stylesheet" href="/css/demo.css">
<link rel="stylesheet" href="/css/card-button.css">

<div id="app">
    <card-button>{{text}}</card-button>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="/js/card-button.js"></script>

<script defer>
    new Vue({
        components: {
            CardButton: CardButton
        }
    }).$mount('#app')
</script>
